[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "==1.2.0"
boom = "==1.0"
molotov = "==1.6"
bzt = "==1.14.0"
locustio = "==0.13.5"

[packages]
flask = "==1.1.1"
konfig = "==1.1"
flasgger = "==0.9.3"
flake8 = "==3.7.9"
flask-restful = "==0.3.7"
python-dotenv = "==0.10.3"
flask-profiler = "==1.8.1"
graypy = "==2.1.0"
sentry-sdk = {extras = ["flask"],version = "==0.13.5"}
gevent = "==1.5a2"

[requires]
python_version = "3.5"
